:root {
  --primary-color: #ec1f55;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
}

html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 16px 16px 14px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid #ebebeb;
  z-index: 1;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: var(--text-color);
  font-size: 20px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.btn {
  cursor: pointer;
}

div {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.control .btn {
  color: #666;
  padding: 18px;
  font-size: 18px;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 20px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.progress-bar {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
  background: linear-gradient(to right, #ff2a5f 0%, #ccc 0%);
  transition: background 450ms ease-in;
  border-radius: 25px;
  box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
}

.progress-bar::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  height: 24px;
  width: 24px;
  margin-top: -8px;
  margin-bottom: -8px;
  background-color: #ec1f55;
  border-radius: 50%;
  border: 4px solid rgb(255, 255, 255);
  box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
}

.current-time {
  margin-top: 20px;
  float: left;
}

.duration-time {
  margin-top: 20px;
  float: right;
}

/* PLAYLIST */
.playlist {
  margin-top: 440px;
  padding: 12px;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.song.active {
  background-image: linear-gradient( 45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100% ); 
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}
.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}
.music-waves {
  position: relative;
  right: 80px;
  top: 10px;
  display: none;
}

.music-waves.active {
  display: block;
}

.music-waves span{
  width: 5px;
  height: 5px;
  bottom: 0px;
  position: absolute;
  background: #d3efe7;
  -webkit-animation: bodong 0.5s infinite ease;
}  

.music-waves span:first-child {
  border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  left: 0px;
  -webkit-animation-delay: 0.3s;  
}  

.music-waves span:nth-child(2) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  left: 7px;
  -webkit-animation-delay: 0.4s;
}  
.music-waves span:nth-child(3) {
  border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  left: 14px;  
  -webkit-animation-delay: 0.6s;  
}  
.music-waves span:nth-child(4) {
  border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  left: 21px;  
  -webkit-animation-delay: 0.8s;  
}  
.music-waves span:nth-child(5) {
  border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  left: 28px;  
  -webkit-animation-delay: 1s;  
}  

@-webkit-keyframes bodong {  
  0%{height:5px; background:linear-gradient( 45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100% );}  
  30%{height:15px; background:linear-gradient( 45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100% );}  
  60%{height:20px; background:linear-gradient( 45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100% );}  
  80%{height:15px; background:linear-gradient( 45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100% );}  
  100%{height:5px; background:linear-gradient( 45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100% );}  
}


